.LandingHeartContainer {
  /*background-color: #C41E3A;*/
}

.LandingHeartContainer__Title {
  font-size: 150px;
  line-height: 120px;
  width: 200px;
  text-align: center;
}

#morphed_path {
  transition: fill 0.2s;
  fill: #C41E3A;
}

#morphed_path:hover {
  fill: transparent;
}


